/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.0.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: simpubli
-- ------------------------------------------------------
-- Server version	12.0.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `despesas_audesp`
--

DROP TABLE IF EXISTS `despesas_audesp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `despesas_audesp` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_ibge` int(11) unsigned NOT NULL,
  `nome_audesp` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
  `id_despesa_detalhe` int(11) NOT NULL,
  `ano_exercicio` int(4) DEFAULT NULL,
  `ds_municipio` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_orgao` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `mes_referencia` int(11) DEFAULT NULL,
  `mes_ref_extenso` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `tp_despesa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `nr_empenho` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `identificador_despesa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_despesa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `dt_emissao_despesa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `vl_despesa` double DEFAULT NULL,
  `ds_funcao_governo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_subfuncao_governo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `cd_programa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_programa` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `cd_acao` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_acao` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_fonte_recurso` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_cd_aplicacao_fixo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_modalidade_lic` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  ` ds_elemento` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_despesas_municipio_idx` (`id_ibge`),
  CONSTRAINT `fk_despesas_municipio` FOREIGN KEY (`id_ibge`) REFERENCES `municipios_ibge` (`id_ibge`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `despesas_audesp`
--

LOCK TABLES `despesas_audesp` WRITE;
/*!40000 ALTER TABLE `despesas_audesp` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `despesas_audesp` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `municipios_ibge`
--

DROP TABLE IF EXISTS `municipios_ibge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `municipios_ibge` (
  `id_ibge` int(11) unsigned NOT NULL,
  `nome` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
  `nome_audesp` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
  `uf` varchar(2) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci NOT NULL,
  `populacao` int(10) NOT NULL,
  `last_file_size_receitas` int(11) DEFAULT 0,
  `last_file_size_despesas` varchar(45) DEFAULT '0',
  PRIMARY KEY (`id_ibge`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `municipios_ibge`
--

LOCK TABLES `municipios_ibge` WRITE;
/*!40000 ALTER TABLE `municipios_ibge` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `municipios_ibge` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `receitas_audesp`
--

DROP TABLE IF EXISTS `receitas_audesp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `receitas_audesp` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_ibge` int(10) unsigned NOT NULL,
  `nome_audesp` varchar(35) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `id_rec_arrec_detalhe` int(11) DEFAULT NULL,
  `ano_exercicio` smallint(4) DEFAULT NULL,
  `ds_municipio` varchar(35) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_orgao` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `mes_referencia` tinyint(2) DEFAULT NULL,
  `mes_ref_extenso` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_poder` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_fonte_recurso` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_cd_aplicacao_fixo` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_categoria` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_subcategoria` varchar(80) CHARACTER SET utf8mb4 COLLATE utf8mb4_uca1400_ai_ci DEFAULT NULL,
  `ds_fonte` varchar(110) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `ds_tipo` varchar(200) DEFAULT NULL,
  `vl_arrecadacao` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_despesas_municipio_idx` (`id_ibge`),
  CONSTRAINT `fk_receitas_municipios` FOREIGN KEY (`id_ibge`) REFERENCES `municipios_ibge` (`id_ibge`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receitas_audesp`
--

LOCK TABLES `receitas_audesp` WRITE;
/*!40000 ALTER TABLE `receitas_audesp` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `receitas_audesp` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Temporary table structure for view `view_despesas_mes`
--

DROP TABLE IF EXISTS `view_despesas_mes`;
/*!50001 DROP VIEW IF EXISTS `view_despesas_mes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `view_despesas_mes` AS SELECT
 1 AS `nome_audesp`,
  1 AS `mes_referencia`,
  1 AS `mes_ref_extenso`,
  1 AS `tp_despesa`,
  1 AS `despesas` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_despesas_mes`
--

/*!50001 DROP VIEW IF EXISTS `view_despesas_mes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_uca1400_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_despesas_mes` AS select `despesas_audesp`.`nome_audesp` AS `nome_audesp`,`despesas_audesp`.`mes_referencia` AS `mes_referencia`,`despesas_audesp`.`mes_ref_extenso` AS `mes_ref_extenso`,`despesas_audesp`.`tp_despesa` AS `tp_despesa`,sum(`despesas_audesp`.`vl_despesa`) AS `despesas` from `despesas_audesp` group by `despesas_audesp`.`nome_audesp`,`despesas_audesp`.`mes_referencia`,`despesas_audesp`.`tp_despesa` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-10-01  7:21:29
